footer
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          ul.list-inline.text-center
            li.list-inline-item
              a(href='https://www.linkedin.com/in/yunuscecen/' target="_blank" )
                span.fa-stack.fa-lg
                  i.fab.fa-linkedin-in
            li.list-inline-item
              a(href='https://github.com/yunuscecen' target="_blank")
                span.fa-stack.fa-lg
                  i.fab.fa-github
          p.copyright.text-muted Created with Node Js & Express Js by 
            a(href="http://yunuscecen.com/en" target="_blank") Yunus Cecen
          