head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap")
    link(rel="stylesheet", href="/common/css/bootstrap.min.css")    
    link(rel="stylesheet", href="/home/css/all.min.css")
    link(rel="stylesheet", href="/home/css/blog-theme.min.css")
    link(rel="stylesheet", href="/home/css/custom.css")
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    block styles
    title #{title}