<!doctype html>
html(lang="en")
    include ../home/includes/head
    body
      include ../home/includes/navbar
      include ../home/includes/header
      block content
      include ../home/includes/footer
      include ../home/includes/script
      



