extends ../../layouts/home-layout

block content 
    .container
        .row
            .col
                h1 About Us
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore unde minima et quaerat omnis expedita nostrum facilis, pariatur maiores. Tenetur laboriosam, quia assumenda amet iusto cupiditate ullam ab numquam rem?