.page-header.page-header-light
                .page-header-content.header-elements-md-inline
                  .page-title.d-flex
                    h4
                      i.icon-arrow-left52.mr-2
                      span.font-weight-semibold Home
                      |  - Dashboard
                    a.header-elements-toggle.text-default.d-md-none(href='#')
                      i.icon-more
                  .header-elements.d-none
                    .d-flex.justify-content-center
                      a.btn.btn-link.btn-float.font-size-sm.font-weight-semibold.text-default(href='#')
                        i.icon-bars-alt.text-pink-300
                        span Statistics
                      a.btn.btn-link.btn-float.font-size-sm.font-weight-semibold.text-default(href='#')
                        i.icon-calculator.text-pink-300
                        span Invoices
                      a.btn.btn-link.btn-float.font-size-sm.font-weight-semibold.text-default(href='#')
                        i.icon-calendar5.text-pink-300
                        span Schedule
                .breadcrumb-line.breadcrumb-line-light.header-elements-md-inline
                  .d-flex
                    .breadcrumb
                      a.breadcrumb-item(href='index.html')
                        i.icon-home2.mr-2
                        |  Home
                      span.breadcrumb-item.active Dashboard
                    a.header-elements-toggle.text-default.d-md-none(href='#')
                      i.icon-more
                  .header-elements.d-none
                    .breadcrumb.justify-content-center
                      a.breadcrumb-elements-item(href='#')
                        i.icon-comment-discussion.mr-2
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Support
                      .breadcrumb-elements-item.dropdown.p-0
                        a.breadcrumb-elements-item.dropdown-toggle(href='#', data-toggle='dropdown')
                          i.icon-gear.mr-2
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Settings
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#')
                            i.icon-user-lock
                            |  Account security
                          a.dropdown-item(href='#')
                            i.icon-statistics
                            |  Analytics
                          a.dropdown-item(href='#')
                            i.icon-accessibility
                            |  Accessibility
                          .dropdown-divider
                          a.dropdown-item(href='#')
                            i.icon-gear
                            |  All settings