head
    meta(charset='utf-8')   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Dashboard
    // Global stylesheets
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900', rel='stylesheet', type='text/css')
    link(href='/admin/css/styles.min.css', rel='stylesheet', type='text/css')
    link(href='/common/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/admin/css/bootstrap_limitless.min.css', rel='stylesheet', type='text/css')
    link(href='/admin/css/layout.min.css', rel='stylesheet', type='text/css')
    link(href='/admin/css/components.min.css', rel='stylesheet', type='text/css')
    link(href='/admin/css/colors.min.css', rel='stylesheet', type='text/css')
    block style

    // /global stylesheets
    // Core JS files
    script(src='/common/js/jquery.min.js')
    script(src='/common/js/bootstrap.bundle.min.js')
    script(src='/admin/js/core/blockui.min.js')
    script(src='/admin/js/core/ripple.min.js')
    // /core JS files
    // Theme JS files
    
    script(src='/admin/js/theme/app.js')
    script(src="/admin/js/theme/pnotify.min.js")
    
    
    